:root {
  --ff: 'Ubuntu', sans-serif; /* Updated to Ubuntu */
  --radius: 6px;
  --primary-color: #292929;
  --secondary-color: #EFEFE6;
  --tertiary-color: #E0002D;
  --link-color: #449DD1;
  --tertiary-color-light: #FFB370;
  --secondary-color-dark: #DFDFCD;
  --black: #292929;
  --code-bg: #272822; /*Monokai*/
  --code-fg: #f8f8f2; /*Monokai*/
  --code-scroll-thumb: #525252;
  --scrollbar-track: #EFEFE6;
  --scrollbar-thumb: #B7B78F;

  /* Dynamic font sizes for responsiveness */
  --font-size-base: clamp(1rem, 1.5vw, 1.2rem); /* Responsive base font size */
  --heading-size-h1: clamp(1.8rem, 2.5vw, 2.2rem);
  --heading-size-h2: clamp(1.4rem, 2vw, 1.8rem);


  --note-bg-light: rgba(0, 122, 204, 0.1);
  
  --note-color-light: #007acc; /* Dark blue for light mode */
  --note-color-dark: #ADD8E6; /* Light blue for dark mode */
  --summary-open-bg: rgba(0, 0, 0, 0.1); /* Light mode background */
}

.dark {
  --note-bg-dark: rgba(0, 122, 204, 0.2);
  --primary-color: #F0F0F0; /* Lighter text color for dark mode */
  --secondary-color: #292929;
  --tertiary-color: #FF7F11;
  --tertiary-color-light: #A34C00;
  --secondary-color-dark: #4A4A3D; /* Lighter for better contrast */
  --scrollbar-track: #292929;
  --scrollbar-thumb: #737373; /* Lighter thumb for better contrast */
  --summary-open-bg: rgba(255, 255, 255, 0.1);
}

@font-face {
  font-display: optional; /* Swaps fonts only if necessary */
  font-family: 'Ubuntu'; /* Updated to Ubuntu */
  font-style: normal;
  font-weight: 400; /* Adjusted for regular weight */
  src: url('../fonts/Ubuntu-Regular.woff2') format('woff2'); /* Updated font file */
}
