:root {
  --ff: 'Fira Code', monospace, sans-serif; /* Added fallback font */
  --radius: 6px;
  --primary-color: #292929;
  --secondary-color: #EFEFE6;
  --tertiary-color: #E0002D;
  --link-color: #449DD1;
  --tertiary-color-light: #FFB370;
  --secondary-color-dark: #DFDFCD;
  --black: #292929;
  --code-bg: #272822; /*Monokai*/
  --code-fg: #f8f8f2; /*Monokai*/
  --code-scroll-thumb: #525252;
  --scrollbar-track: #EFEFE6;
  --scrollbar-thumb: #B7B78F;

  /* Dynamic font sizes for responsiveness */
  --font-size-base: clamp(1rem, 1.5vw, 1.2rem); /* Responsive base font size */
  --heading-size-h1: clamp(1.8rem, 2.5vw, 2.2rem);
  --heading-size-h2: clamp(1.4rem, 2vw, 1.8rem);
}

.dark {
  --primary-color: #E0E0E0 ; /* Lighter text color for dark mode */
  --secondary-color: #292929;
  --tertiary-color: #FF7F11;
  --tertiary-color-light: #A34C00;
  --secondary-color-dark: #4A4A3D; /* Lighter for better contrast */
  --scrollbar-track: #292929;
  --scrollbar-thumb: #737373; /* Lighter thumb for better contrast */
}

@font-face {
  font-display: optional; /* Swaps fonts only if necessary */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FiraCode-Regular.woff2') format('woff2');
}